@font-face {
    font-family: 'C059';
    font-weight: 600;
    font-style: italic;
    src: url('https://autowflibcdn.pages.dev/awfl-cdn/fonts/serif-trans/c059/C059-BdIta.woff2') format('woff2'), url('https://autowflibcdn.neruthes.xyz/awfl-cdn/fonts/serif-trans/c059/C059-BdIta.woff2') format('woff2');
}

@font-face {
    font-family: 'C059';
    font-weight: 600;
    font-style: normal;
    src: url('https://autowflibcdn.pages.dev/awfl-cdn/fonts/serif-trans/c059/C059-Bold.woff2') format('woff2'), url('https://autowflibcdn.neruthes.xyz/awfl-cdn/fonts/serif-trans/c059/C059-Bold.woff2') format('woff2');
}

@font-face {
    font-family: 'C059';
    font-weight: 400;
    font-style: italic;
    src: url('https://autowflibcdn.pages.dev/awfl-cdn/fonts/serif-trans/c059/C059-Italic.woff2') format('woff2'), url('https://autowflibcdn.neruthes.xyz/awfl-cdn/fonts/serif-trans/c059/C059-Italic.woff2') format('woff2');
}

@font-face {
    font-family: 'C059';
    font-weight: 400;
    font-style: normal;
    src: url('https://autowflibcdn.pages.dev/awfl-cdn/fonts/serif-trans/c059/C059-Roman.woff2') format('woff2'), url('https://autowflibcdn.neruthes.xyz/awfl-cdn/fonts/serif-trans/c059/C059-Roman.woff2') format('woff2');
}

